<div style="text-align:center">
<button class="btn btn-primary" [disabled]="!allowNewServer" (click)="onCreateServer()"> Add Server {{allowNewServer}}</button>
  <p></p>

  <label>Server Name</label>
  <input type="text" class="form-control" (input)="onUpdateServerName($event)">
  <p>{{ serverName}}</p>
  <!--<h3>The {{'Server'}} with ID {{ serverID}} is {{serverStatus}} and {{ getServerStatus()}} </h3>-->
<p [innerText]="allowNewServer" ></p>
  <!--<p>{{serverCreationStatus}}</p>-->
  <p *ngIf="serverCreated">Server was created , server name is {{serverName}}</p>
</div>
